
<body>
    <h1>@Html.Sitecore().Field("Id")</h1>
    <h2>@Html.Sitecore().Field("Title")</h2>
    <h3>@Html.Sitecore().Field("Category")</h3>
    <h4>@Html.Sitecore().Field("PostedDate")</h4>
    <h5>@Html.Sitecore().Field("ShortDescription")</h5>
    <h6>@Html.Sitecore().Field("ArticleSmallImage")</h6>
    <h7>@Html.Sitecore().Field("LongDescription")</h7>
    <h8>@Html.Sitecore().Field("ArticleLargeImage")</h8>
    <h9>@Html.Sitecore().Field("Tags")</h9>
     <h10>@Html.Sitecore().Field("Autor")</h10>

</body>
